@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: 'JetBrains Mono';
	src: url("/JetBrainsMono.ttf");
	font-display: swap;
}

:root [data-theme='skeleton'] {
	--theme-font-family-base: 'JetBrains Mono', monospace;
	--theme-rounded-container: 8px;
}

body { 
	@apply bg-surface-50 dark:bg-surface-500; 
}

span {
	color: white;
}

p {
	@apply text-gray-400; 
}

.container {
	max-width: none;
}